.navbar {
    padding: 13px;
    padding-left: 45px;
    
}

li {
    padding-left: 13px;
    padding-right: 13px;
}

ul {
    padding-right: 50px;
}

.collapse {
    font-size: 18px !important;
}

.navbar-brand {
    font-size: 1.6rem !important;
}

body {
    background-color: #f5f5f5;
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url("../img/sadf.png");
    height: 100%; 
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-text {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: #f2f2f2;
    font-weight: bold;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: nunito,sans-serif;
}

.title-text {
    font-family: cursive;
    text-shadow: 2px 2px #000000;
}

.center {
    padding: 210px 0;
    text-align: center;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6); 
}

.button2 {
    background-color: #008CBA; 
    color: rgb(255, 255, 255); 
    border: 2px solid #008CBA;
    border-radius: 8px;
}
  
.button2:hover {
    background-color: #e9dcdc;
    color: rgb(0, 0, 0);
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(40, 42, 68);
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}
  
#myBtn:hover {
    background-color: #555;
}
  
.about-mf .box-shadow-full {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: white;
}
  
.about-mf .about-img {
    margin-bottom: 2rem;
}
  
.about-mf .about-img img {
    margin-left: 10px;
}
  
.skill-mf span {
    color: #4e4e4e;
}
  
.skill-mf .progress {
    background-color: #cde1f8;
    margin: .5rem 0 1.2rem 0;
    border-radius: 0;
    height: .7rem;
}
  
.skill-mf .progress .progress-bar {
    height: .7rem;
    background-color: #0078ff;
}
  
.bar {
  padding-right: 30px;
  padding-left: 30px;
}

.desc {
  padding-right: 30px;
  padding-left: 30px;
}

.sect-pt4 {
  padding-top: 4rem;
  padding-bottom: 2rem;
}
 
/*--/ Title s /--*/

.title-s {
  font-weight: 600;
  color: #1e1e1e;
  font-size: 1.1rem;
}

/*--/ Title A /--*/

.title-box {
  margin-bottom: 4rem;
}

.title-a {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.subtitle-a {
  color: #4e4e4e;
}

.line-mf {
  width: 40px;
  height: 5px;
  background-color: #0078ff;
  margin: 0 auto;
}

/*--/ Title Left /--*/

.title-box-2 {
  margin-bottom: 3rem;
}

.title-left {
  font-size: 2rem;
  position: relative;
}

.title-left:before {
  content: '';
  position: absolute;
  height: 3px;
  background-color: #0078ff;
  width: 100px;
  bottom: -12px;
}

.box-shadow-full {
  padding: 3rem 1.25rem;
  position: relative;
  background-color: #fff;
  margin-bottom: 3rem;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

a {
  color: #1e1e1e;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}

a:hover {
  color: #0078ff;
  
  transition: all 0.5s ease-in-out;
}

.kk {
  float: right;
}

.titles {
  text-align: center;
}

.ok {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.card {
  margin: 15px;
  padding: 10px;
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,
  .3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.work-box {
  margin-bottom: 3rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #fff;
  margin: 15px;
}

.work-box:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.work-img {
  display: block;
  overflow: hidden;
}

.work-img img {
  transition: all 1s;
}

.ok1 {
  margin-bottom: 3rem;
}

.ok2 {
  margin-top: 3rem;
}

.ok3 {
  margin-top: 6rem;
}

.ico {
  color: white;
  margin-right: 15px;
  margin-top: 2rem;
}

.cop {
  color:white;
  margin-top: 1rem;
}

.error {
  color: red;
}